html, body {
    margin:0;
    padding:0;
}

.head {
    width: 100%;
    height: 50%;
    background-color: yellow;
}

.logo {
    width: 15%;
    height: 100%;
    background-color: green;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    height: 100%;
    width: 80%;
    background-color: red;
}

.main-content {
    background-image: url("../assets/bg.jpg");
    height: 1000px;
    background-size: 100% 100%;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color:cornflowerblue;
    background-size: 100% 100%;
    border: thin 1px;
}

.col-lg-2 {
    text-align: left;
    padding-top: 25px !important;
    padding: 10px ;
}

.footer-links{
    color: white;
    font-style: bold;
}

.footer-links {
    display: block;
    font-weight: bold;
}

#casella_testo {
    width: 70%;
    height: 5%;
}

.casella_testo {
    width: 70%;
}
  
  /* Style the search field */
  form.casella_testo input[type=text] {
    padding: 20px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Style the submit button */
  form.casella_testo button {
    float: left;
    width: 20%;
    padding: 20px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 5px;
  }
  
  form.casella_testo button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .copyright  {
    background-color: #003459;
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  .container-fluid{
      padding: 0 !important;
      padding-right: 0 !important;
  }

  .row{
      margin: 0 !important;
  }

  .social {
      color: white;
      display: inline;
      font-weight: bold;
  }

  .social img {
      width: 20px;
      padding-bottom: 25px;
  }

  .footer-links-social{
      display: inline;
      padding: 10px;
  }

  .col-sm-2{
    text-align: center;
  }

.listaRisultati{
    background-color: #f1f1f1;
    list-style: none;
    border: solid grey 1px;
    padding: 20px;
    font-size: 15px;
    border-radius: 5px;
}

.listaRisultati a {
    float: right;
}

.ulRisultati{
    padding-left: 0;
    position: absolute;
    top: 67px;
    width: 100%;
}

.bloccaCasella {
    position: absolute;
    top: 55%;
    width: 70%;
}