#title {
    font-size: 60px;
    text-shadow: 2px 2px 2px #CE5937;
    font-weight: bold;
}

.navbar {
    background-color: #032647;
    height: 3vh;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
    color: rgb(209, 98, 98) !important;
}