.fotoProfiloD {
    width: 250px;
    height: 300px;
    margin: 10px;
    border: solid grey 2px;
}

.pagRicerca {
    min-height: 1000px;
    padding: 10px;
}

.profilo {
    min-height: 70vh;
    padding-top: 5vh;
}

a {
    text-decoration: none !important;
}

.cardProfilo {
    width: 50%;
    margin-right: 20px;
}

.options {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

listGroup {
    background-color: cornflowerblue !important;
    color: white !important;
}

listGroup:hover {
    background-color: #007bff !important;
}

items {
    border-radius: 90px !important;
}

years {
    text-align: left !important;
    padding-bottom: 30px !important;
}

years > a {
    color: black;
    font-weight: 600;
}

opzioniProfilo {
    position: relative;
    bottom: 28px ;
}

#cardText::-webkit-scrollbar-track {
    border: 1px solid rgb(219, 212, 212);
    border-radius: 10px;
    background-color: white;
}

#cardText::-webkit-scrollbar {
	width: 18px;
	background-color: white;
}

#cardText::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    border-radius: 10px;
}

#cardText {
    overflow: scroll;
    overflow-x: auto;
    height: 600px;
}

.insButton {
    padding: 0;
    border: none;
}

.dettaglio {
    width:50%;
    height: 500px;
    background-color: grey; 
    position: absolute; 
    top: 200px; 
    left: 25%;
}

#buttonDettaglio{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: none;
}

#imgDettaglio{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#buttonDettaglio:focus{
    outline: none;
}